* {
  box-sizing: border-box;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  margin-bottom: 50px;
}

h2 {
  width: 100%;
  background-color: rgb(102, 179, 252);
  border-radius: 10px;
  padding: 10px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 20px;
}

.buttons button {
  width: 100px;
  height: 36px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: #ebebeb;
  color: #000000;
  cursor: pointer;
}

button:active {
  transform: scale(90%);
}

#follow.followed {
  background-color: rgb(102, 179, 252);
  color: #ffffff;
  font-size: 15px;
  line-height: 1;
}

#img-container {
  position: absolute;
  right: 500px;
  top: 500px;
  display: none;
}

#img-container.show {
  display: block;
}

#img-container div {
  height: 500px;
  display: flex;
  align-items: center;
}

#img-container img {
  width: 500px;
  height: auto;
}

.icon {
  position: absolute;
  font-size: 50px;
  top: calc(50% - 25px);
  color: black;
  cursor: pointer;
}

.fa-chevron-right {
  right: -50px;
}

.fa-chevron-left {
  left: -50px;
}

.show-image {
  color: rgb(102, 179, 252);
  cursor: pointer;
}

.name {
  font-size: 30px;
}

.name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 15px;
}

.following {
  position: absolute;
  right: -80px;
  padding: 10px;
  background-color: #ebebeb;
  border-radius: 5px;
  display: none;
}

.show {
  display: block;
}

#description {
  background-color: #f4f4f4;
  padding: 10px;
  width: 900px;
  height: 400px;
  border-radius: 5px;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 450px);
  text-align: center;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.3) 8px 8px 20px 0;
  z-index: 50;
}
#description.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
}
